<!-- Name: Ken Wang
     UID: u1193853 -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LOS System, select your view on the nav bar.</h1>
</div>
