<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <DefaultSettings>
    <!--University of Utah CS class schedule URL-->
    <add key ="HomeUrl" value ="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/1198/class_list.html?subject=CS"/>
    
    <!--Default app settings-->
    <add key ="ConsiderSection" value ="001"/>
    <add key ="CourseRange" start ="1000" end ="7000"/>
    <add key ="Filters" words ="Seminar,Special Topic"/>
    <add key ="LimitationCourses" value ="100"/>
    
    <!--Semester notation-->
    <add key ="Spring" value ="4"/>
    <add key ="Summer" value ="6"/>
    <add key ="Fall" value ="8"/>


  </DefaultSettings>
</configuration>